/* fonts & imports */

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-Bold.ttf');
  font-weight: bolder;
  font-style: normal;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway, sans-serif;
}

.no-padding-col {
  padding-right: 0px; 
  padding-left: 0px; 
}
h1 {
  color: #525C5D;
}
.jf-center {
  justify-content: center;
}

