.content-footer {
    position: relative;
    height: 90px;
    width: 100%;
    background:white;
    bottom: 0;
    padding-top: 20px;
    p {
      text-align: center;
      font-size: 13px
    }
    .footer-ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      padding-left: 0;
      li {
        img {
          width: 30px;
          height: 30px;
          margin-right: 12px;
        }
      }
    }
}